.modal-header, .modal-footer {
    background-image: linear-gradient(to right, #e61eff, #279ac7);
}

img {
    border-radius: 5px;
}


img {
    display: block;
    max-width: 100%;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: yellow;
}

ul li {
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: white;
    color: black;
    font-weight: bolder;
}

h3 {
    color: white;
}

.bg-animation {
    position: fixed;
}

h5 {
    color: white;
}

.aboutus {
    background-color: rgba(255, 255, 255, 0.299);
    padding: 25px 20px;
    color: white;
    text-align: justify;
    border-radius: 5px;
}

.packagesDay {
    width: 300px;
    height: 420px;
    border: 1px solid #b8c048e0;
    box-shadow: 5px 5px rgba(177, 169, 19, 0.478);
    padding: 10px;
    border-radius: 10px;
}

.packagesMonth{
    width: 300px;
    height: 420px;
    border: 1px solid #b8c048e0;
    box-shadow: 5px 5px rgba(177, 169, 19, 0.478);
    padding: 10px;
    border-radius: 10px;
    margin-left: 190px;
}





